html {
  font-size: 1.125rem !important;
  height: 100%;
}

header {
  width: 100%;
  text-align: center;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

body {
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.umg-color {
  background-color: #0d4266;
}

th, td{
  text-align: center !important;
}

.p-fileupload .p-fileupload-content {
  padding: 1 !important;
}